@inherits LayoutComponentBase

<PageTitle>BlazorApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div>
            <nav class="navbar navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand">Menu</a>
                    <form class="d-flex">
                        <input class="form-control me-2" type="enter" placeholder="search" aria-label="search">
                        <button class="btn btn-outline-success" type="submit">Enter</button>
                    </form>
                </div>
            </nav>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<div class="container">
    <div>
		<footer id="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<a href="index.html"><img src="https://svguniquecreative.com/wp-content/uploads/2021/05/mock-7-1536x1229.jpg" alt="" class="img-fluid logo-footer"></a>
						<div class="footer-about">
						</div>

					</div>
					<div class="col-md-3">
						<div class="useful-link">
							<h2>Useful Links</h2>
							<img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
							<div class="use-links">
								<li><a href="index.html"><i class="fa-solid fa-angles-right"></i> Image</a></li>
								<li><a href="about.html"><i class="fa-solid fa-angles-right"></i> Video</a></li>
								<li><a href="gallery.html"><i class="fa-solid fa-angles-right"></i> Music</a></li>
							</div>
						</div>

					</div>
					<div class="col-md-3">
						<div class="social-links">
							<h2>Follow Me</h2>
							<img src="./assets/images/about/home_line.png" alt="">
							<div class="social-icons">
								<li><a href=""><i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
								<li><a href=""><i class="fa-brands fa-instagram"></i> Instagram</a></li>
								<li><a href=""><i class="fa-brands fa-linkedin-in"></i> Twitter</a></li>
							</div>
						</div>


					</div>
					

				</div>
			</div>

		</footer>
		
		<section id="copy-right">
			<div class="copy-right-sec">
				<i class="fa-solid fa-copyright"></i>

			</div>

		</section>

    </div>
</div>