@page "/"
<h8>WELCOME!</h8>


<h5>Video</h5>
<iframe width="560" height="315" src="https://www.youtube.com/embed/aoUVeVuBo7Y?si=jzQTUYeQgfe5FzBY"></iframe>





<h5> Image</h5>    

 <img src="Image/how-to-paint-sunset-trees-in-acrylic-final-600.jpg" />





 <h5>Audio</h5>
<iframe 
    style="border-radius:12px" src="https://open.spotify.com/embed/album/4iG7VV7lveOx4wM0iCLg2j?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
</iframe>
