@page "/Home"


<h2>Recommended For You</h2>



<div class="recommended-items">
    <div style="display: flex; align-items: center;">
        <iframe src="https://assets.pinterest.com/ext/embed.html?id=671106781990445915" height="714" width="345" frameborder="0" scrolling="no"></iframe>


        <div style="margin-left: 20px;">
            <h1>A Gentle Reminder</h1>
            <p>Books to read, gentle reminders, positive quotes, love quotes</p>
        </div>
    </div>
</div>


<div class="recommended-items">
    <div style="display: flex; align-items: center;">
        <iframe src="https://assets.pinterest.com/ext/embed.html?id=1071645673824987478" height="714" width="345" frameborder="0" scrolling="no"></iframe>


        <div style="margin-left: 20px;">
            <h1>Atomic Habbits</h1>
            <p>The book is a guide to mastering the tiny behaviors that lead to success and personal growth.</p>
        </div>
    </div>
</div>


<div class="recommended-items">
    <div style="display: flex; align-items: center;">
        <iframe src="https://assets.pinterest.com/ext/embed.html?id=5488830791185722" height="714" width="345" frameborder="0" scrolling="no"></iframe>

        <div style="margin-left: 20px;">
            <h1>It Ends With Us</h1>
            <p>The book is a guide to mastering the tiny behaviors that lead to success and personal growth.</p>
            <p>Available now</p>

        </div>
    </div>
</div>


@code {

}
