@page "/Products"



<div style="display: flex; align-items: center;">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <img src="/css/the ritual the sinner the sacrifice.jpg" width="400" height="400" />
    <style>
        .cart-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            transition: background-color 0.3s;
            position: relative;
        }

            .cart-button i {
                margin-right: 5px;
            }

            .cart-button:hover {
                background-color: #45a049;
            }

    </style>

    <div style="margin-left: 20px;">
        <h1>The Ritual The Sinner The Sacrifice </h1>
        <p> Is a thought-provoking tale that examines the dark corners of the human psyche and the lengths one might go to seek forgiveness or escape their sins.</p>
        <p>Price: ₱149</p>



        <a href="AddToCart" style="display: inline-block; padding: 10px 20px; background-color: orange; color: white; text-align: center; text-decoration: none; border-radius: 5px; font-size: 16px;">
            <i class="bx bxs-cart"></i> Add to Cart
        </a>

        <a href="AddToCart" style="display: inline-block; padding: 10px 20px; background-color: red; color: white; text-align: center; text-decoration: none; border-radius: 5px; font-size: 16px;">
            Buy Now
        </a>

    </div>
</div>




<div style="display: flex; align-items: center;">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <img src="/css/it ends with us.jpg" width="400" height="400" />
    <style>
        .cart-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            transition: background-color 0.3s;
            position: relative;
        }

            .cart-button i {
                margin-right: 5px;
            }

            .cart-button:hover {
                background-color: #45a049;
            }

    </style>

    <div style="margin-left: 20px;">
        <h1>It Ends Wuth Us</h1>
        <p>It's a story about strength, self-discovery, and the courage to choose a better path.</p>
        <p>Price: ₱115</p>



        <a href="Cart" style="display: inline-block; padding: 10px 20px; background-color: orange; color: white; text-align: center; text-decoration: none; border-radius: 5px; font-size: 16px;">
            <i class="bx bxs-cart"></i> Add to Cart
        </a>

        <a href="Cart" style="display: inline-block; padding: 10px 20px; background-color: red; color: white; text-align: center; text-decoration: none; border-radius: 5px; font-size: 16px;">
            Buy Now
        </a>

    </div>
</div>


<div style="display: flex; align-items: center;">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <img src="/css/the psychology of money.jpg" width="400" height="400" />
    <style>
        .cart-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            transition: background-color 0.3s;
            position: relative;
        }

            .cart-button i {
                margin-right: 5px;
            }

            .cart-button:hover {
                background-color: #45a049;
            }

    </style>

    <div style="margin-left: 20px;">
        <h1> The Psychology of Money </h1>
        <p> With a focus on long-term thinking and the value of simplicity.</p>
        <p>Price: ₱140</p>



        <a href="Cart" style="display: inline-block; padding: 10px 20px; background-color: orange; color: white; text-align: center; text-decoration: none; border-radius: 5px; font-size: 16px;">
            <i class="bx bxs-cart"></i> Add to Cart
        </a>

        <a href="Cart" style="display: inline-block; padding: 10px 20px; background-color: red; color: white; text-align: center; text-decoration: none; border-radius: 5px; font-size: 16px;">
            Buy Now
        </a>

    </div>
</div>


<div class="recommended-items">
    <div style="display: flex; align-items: center;">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <img src="/css/a gentle reminder.jpg" width="400" height="400" />
        <style>
            .cart-button {
                display: inline-block;
                padding: 10px 20px;
                background-color: #4CAF50;
                color: white;
                text-align: center;
                text-decoration: none;
                border-radius: 5px;
                font-size: 16px;
                transition: background-color 0.3s;
                position: relative;
            }

                .cart-button i {
                    margin-right: 5px;
                }

                .cart-button:hover {
                    background-color: #45a049;
                }

        </style>

        <div style="margin-left: 20px;">
            <h1>A Gentle Reminder</h1>
            <p>Recommendations: books to read, gentle reminders, positive quotes, love quotes</p>
            <p>Price: ₱98</p>



            <a href="Cart" style="display: inline-block; padding: 10px 20px; background-color: orange; color: white; text-align: center; text-decoration: none; border-radius: 5px; font-size: 16px;">
                <i class="bx bxs-cart"></i> Add to Cart
            </a>

            <a href="Cart" style="display: inline-block; padding: 10px 20px; background-color: red; color: white; text-align: center; text-decoration: none; border-radius: 5px; font-size: 16px;">
                Buy Now
            </a>

        </div>
    </div>
</div>


<div class="recommended-items">
    <div style="display: flex; align-items: center;">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <img src="/css/atomic habbits.jpg" width="400" height="400" />
        <style>

            .cart-button {
                display: inline-block;
                padding: 10px 20px;
                background-color: #4CAF50;
                color: white;
                text-align: center;
                text-decoration: none;
                border-radius: 5px;
                font-size: 16px;
                transition: background-color 0.3s;
                position: relative;
            }

                .cart-button i {
                    margin-right: 5px;
                }

                .cart-button:hover {
                    background-color: #45a049;
                }

        </style>

        <div style="margin-left: 20px;">
            <h1>Atomic Habbits</h1>
            <p>The book is a guide to mastering the tiny behaviors that lead to success and personal growth.</p>
            <p> Price: ₱88</p>



            <a href="Cart" style="display: inline-block; padding: 10px 20px; background-color: orange; color: white; text-align: center; text-decoration: none; border-radius: 5px; font-size: 16px;">
                <i class="bx bxs-cart"></i> Add to Cart
            </a>

            <a href="Cart" style="display: inline-block; padding: 10px 20px; background-color: red; color: white; text-align: center; text-decoration: none; border-radius: 5px; font-size: 16px;">
                Buy Now
            </a>

        </div>
    </div>
</div>


@code {

}
