.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:  wheat;
    
    
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);

}

.top-row {
    background-color: indigo;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;

    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;

    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;

    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.btn-12,
.btn-12 *,
.btn-12 :after,
.btn-12 :before,
.btn-12:after,
.btn-12:before {
    border: 0 solid;
    box-sizing: border-box;
}

.btn-12 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 100%;
    font-weight: 900;
    line-height: 1.5;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-transform: uppercase;
}

    .btn-12:disabled {
        cursor: default;
    }

    .btn-12:-moz-focusring {
        outline: auto;
    }

    .btn-12 svg {
        display: block;
        vertical-align: middle;
    }

    .btn-12 [hidden] {
        display: none;
    }

.btn-12 {
    border-radius: 99rem;
    border-width: 2px;
    overflow: hidden;
    padding: 0.8rem 3rem;
    position: relative;
}

    .btn-12 span {
        mix-blend-mode: difference;
    }

    .btn-12:after,
    .btn-12:before {
        background: linear-gradient( 90deg, #fff 25%, transparent 0, transparent 50%, #fff 0, #fff 75%, transparent 0 );
        content: "";
        inset: 0;
        position: absolute;
        transform: translateY(var(--progress, 100%));
        transition: transform 0.2s ease;
    }

    .btn-12:after {
        --progress: -100%;
        background: linear-gradient( 90deg, transparent 0, transparent 25%, #fff 0, #fff 50%, transparent 0, transparent 75%, #fff 0 );
        z-index: -1;
    }

    .btn-12:hover:after,
    .btn-12:hover:before {
        --progress: 0;
    }
