@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Video</h1>

<iframe width="713" height="250" src="https://www.youtube.com/embed/D7_y6cAEdXs?list=PLT_51QrNZkNpmj1ooa_cVmuN50a46c_0P" title="[Mukbang ASMR] Octopus Party🐙 Giant Octopus &amp; Amazing Webfoot Octopus Spicy Mushroom Recipe Ssoyoung" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<iframe width="713" height="250" src="https://www.youtube.com/embed/c4-N36XbB3c" title="[Mukbang ASMR] Octopus Legs 🐙 Corn Cheese Seafood Noodles Kalguksu Koreanfood Kimchi Recipe Ssoyoung" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
