@page "/Index"


<h1> Image</h1>
<img src="image/time for a girls trip!.jpg" height="250" width="600" />
<img src="image/travel off the path_ ubon ratchathani, isaan thailand.jpg" height="250" width="600" />