@page "/Home"

<h1>Image</h1>
<img src="image/mayon.jpg" height="210" width="500"  />

<img src="https://images.pexels.com/photos/913215/pexels-photo-913215.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1.jpg" height="210" width="500"  />